:root {
  --green-300: #c4e456;
  --green-400: #c4dd70;
  --green-500: #9cb158;
  --green-800: #6d7c3d;
  --green-900: #8d9c5d;

  --gray-800: #343330;
  --gray-900: #20201e;

  --off-white: #f6f4f1;
  --moon-icon-shadow: rgba(0, 0, 0, 0.1);
  --moon-icon-shadow-light: rgba(0, 0, 0, 0.06);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

body {
  height: 100vh;
  overflow: hidden;
  background: var(--off-white);
  color: var(--gray-800);
  font-family: "Roboto Mono", monospace;
  font-size: 1.7rem;
  text-align: center;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Silkscreen", cursive;
  font-size: 5rem;
}

.titles {
  display: flex;
}

/*  animate the "|" in the title  */
#title2 {
  animation: blink 0.6s infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-paragraph {
  margin: 1.6rem;
  font-size: 1.7rem;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

#start-game-btn {
  position: relative;
  margin-top: 5rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 1.2rem 1.8rem;
  transition: all 0.2s ease;
  background: transparent;
}

#start-game-btn:before {
  content: "";
  position: absolute;
  top: -4.5rem;
  left: -0.5rem;
  display: block;
  margin-top: 5rem;
  border-radius: 50px;
  background-color: var(--green-300);
  width: 4.7rem;
  height: 4.7rem;
  transition: all 0.3s ease;
}

#start-game-btn span {
  position: relative;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

#start-game-btn:hover:before {
  width: 360%;
  background-color: var(--green-300);
}

.options-container,
.score-container {
  display: none;
}

.score-container {
  margin-top: 6rem;
  gap: 15rem;
  font-weight: 600;
}

.score-container span {
  font-weight: 400;
}

.player-score,
.computer-score {
  font-size: 1.8rem;
  margin-left: 2.5rem;
}

.btn,
#reset-game-btn {
  margin-top: 5rem;
  margin-inline: 2rem;
  padding: 1.5rem 2.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 10px;
  background: var(--green-300);
  box-shadow: 4px 4px 0px 0px var(--green-500);
  transition: all ease 0.1s;
}

.btn:hover,
#reset-game-btn:hover {
  background-color: var(--green-400);
}

.btn:nth-child(-n + 2) {
  padding-inline: 3.5rem;
}

.btn:active,
#reset-game-btn:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px var(--light-shadow);
}

#reset-game-btn {
  display: none;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.moon-icon {
  position: absolute;
  top: 3rem;
  right: 3rem;
  background: var(--green-300);
  color: var(--gray-800);
  border-radius: 50%;
  padding: 1.2rem;
}

.moon-icon:hover {
  box-shadow: var(--moon-icon-shadow) 0 4px 12px;
  transform: translateY(-1px);
}

.moon-icon:active {
  box-shadow: var(--moon-icon-shadow-light) 0 2px 4px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.4rem;
  margin-top: -4rem;
  gap: 8px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* dark mode */
body.dark-mode {
  background: var(--gray-900);
  color: var(--off-white);
}

body.dark-mode #start-game-btn:before {
  background-color: var(--green-500);
}

body.dark-mode .btn {
  background: var(--green-500);
  box-shadow: 4px 4px 0px 0px var(--green-800);
}

body.dark-mode #reset-game-btn {
  background: var(--green-500);
  box-shadow: 4px 4px 0px 0px var(--green-800);
}

body.dark-mode .btn:hover,
body.dark-mode #reset-game-btn:hover {
  background: var(--green-900);
}

body.dark-mode .moon-icon {
  color: var(--off-white);
  background: var(--green-500);
}

/* mobile version */ 
@media (max-width: 768px) {
  main {
    padding-inline: 3rem;
  }

}
