@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Space+Mono:wght@400;700&display=swap");

:root {
  --light-red: #e04700;
  --light-shadow: #fc886a;
  --dark-red: #b13a03;
  --dark-shadow: #c95925;
  --black: #000;
  --dark-mode: #111;
  --white: #fff;
  --moon-icon-shadow: rgba(0, 0, 0, 0.1);
  --moon-icon-shadow-light: rgba(0, 0, 0, 0.06);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

body {
  height: 100vh;
  overflow: hidden;
  background: var(--white);
  color: var(--black);
  font-family: "Space Mono", monospace;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ======= intro page ======= */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Silkscreen", cursive;
  font-size: 5.2rem;
}

.titles {
  display: flex;
}

/*  animate "|" title  */
#title2 {
  animation: blink 0.6s infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.intro-paragraph {
  margin: 1.5rem;
  font-size: 1.7rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

/* start game button */
.options-container,
.score-container {
  display: none;
}

#start-game-btn {
  position: relative;
  margin-top: 5rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 1.2rem 1.8rem;
  transition: all 0.2s ease;
}

#start-game-btn:before {
  content: "";
  position: absolute;
  top: -4.5rem;
  left: -0.3rem;
  display: block;
  margin-top: 5rem;
  border-radius: 50px;
  background-color: var(--light-red);
  width: 4.7rem;
  height: 4.7rem;
  transition: all 0.3s ease;
}

#start-game-btn span {
  position: relative;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

#start-game-btn:hover:before {
  width: 290%;
  background-color: var(--light-red);
}

/* ======== game play buttons ======== */
.btn,
.clear {
  margin-top: 5rem;
  margin-inline: 2rem;
  padding: 1.5rem 2.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 10px;
  background-color: var(--light-red);
  box-shadow: 0px 5px 0px 0px var(--light-shadow);
  transition: all ease 0.1s;
}

.btn:nth-child(-n + 2) {
  padding-inline: 3.5rem;
}

.btn:active,
.clear:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px var(--light-shadow);
}

/* ========= score ========= */
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-score {
  margin-top: 5rem;
}
.player-score,
.computer-score {
  font-size: 1.8rem;
  margin-left: 2.5rem;
}

.rounds-results {
  margin-top: 5rem;
  font-size: 2rem;
  font-weight: 700;
}

/* ======== game over result ======== */
.final-result {
  font-size: 2.5rem;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.moon-icon {
  position: absolute;
  top: 3rem;
  right: 3rem;
  background: var(--light-red);
  color: var(--black);
  border-radius: 50%;
  padding: 1.2rem;
}

.moon-icon:hover {
  box-shadow: var(--moon-icon-shadow) 0 4px 12px;
  transform: translateY(-1px);
}

.moon-icon:active {
  box-shadow: var(--moon-icon-shadow-light) 0 2px 4px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.4rem;
  margin-top: -4rem;
  gap: 8px;
}

a {
  text-decoration: none;
  color: inherit;
}

.heart-icon {
  color: var(--light-red);
}

/* ====== dark mode ======= */
body.dark-mode {
  background: var(--dark-mode);
  color: var(--white);
}

body.dark-mode #start-game:before {
  background-color: var(--dark-red);
}

body.dark-mode .btn {
  background: var(--dark-red);
  box-shadow: 0px 5px 0px 0px var(--dark-shadow);
}

body.dark-mode .clear {
  background: var(--dark-red);
  box-shadow: 0px 5px 0px 0px var(--dark-shadow);
}

body.dark-mode .moon-icon {
  color: var(--white);
  background: var(--dark-red);
}

body.dark-mode .heart-icon {
  color: var(--dark-red);
}
